body {
  margin: 20px;
  padding: 20px;
  overflow-x: hidden;
  line-height: 1.6;
  background-color: #151d2e;
  color: white;
  font-family: Arial, sans-serif;
}

/* navbar style*/
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 45px;
  margin-bottom: 20px;
}
.navbar .image {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .navbar .image {
    width: 50px; /* Adjust the width for mobile screens */
    height: 50px; /* Adjust the height for mobile screens */
    margin-left: 10px; /* Adjust the margin for mobile screens */
  }
}
.navitems-webSite {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  padding: 5px;
  list-style-type: none;
  background-color: #151d2e;
  
}
.navitem-mobile {
  display: none;
  list-style-type: none;
}
.navitems-webSite li a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 504px) {
  .navitems-webSite li {
    display: none;
  }
  .navitems-webSite button {
    margin-left: auto;
  }
  .navitem-mobile {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin-top: 20px;
  }
  .navitem-mobile li a {
    color: white;
    text-decoration: none;
  }
}
/* navbar style*/

/* Grid container css*/
#grid-container {
  max-width: 100%;
  min-width: auto;
  min-height: 100vh;
  margin-top: 40px;
  background-image: linear-gradient(to bottom, #151d2e,#131d2e);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, minmax(150px, auto));
  gap: 10px;
}

grid-container div:nth-child(even) {
  background-color: rgb(173, 202, 43);
}

grid-container div:nth-child(odd) {
  background-color: blue;
}

.con1 {
  grid-row: 1 / 3;
  grid-column: 1/2;
  background-color: transparent !important;
  background-size: cover;
  background-image: url('/images/Rectangle\ 27.png');
  border-radius: 10px;
}

.con2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: transparent !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-radius: 10px;
  gap: 10px;
}

.con2 .nested-grid1 {
  background-image: url('/images/Rectangle 30.png');
  background-size: cover;
  background-color: transparent !important;
  border-radius: 10px;
}
.con2 .nested-grid2 {
  background-image: url('/images/Rectangle 32.png');
  background-size: cover;
  background-color: transparent !important;
  border-radius: 10px;
}
.con3 {
  grid-row: 1/4;
  grid-column: 3/4;
  background-color: transparent !important;
  background-image: url('/images/Rectangle 29.png');
  background-size: cover;
  border-radius: 10px;
}
.con4 {
  margin-top: 100px;
  margin-left: 150px;
}
.con5 {
  grid-column: 1/2;
  grid-row: 3/4;
  background-image: url('/images/Rectangle 26.png');
  background-size: cover;
  border-radius: 10px;
}

.con6 {
  grid-row: 3/4;
  grid-column: 2/3;
  background-color: rgb(37, 37, 37) !important;
  background-image: url('/images/Rectangle 28.png');
  background-size: cover;
  border-radius: 10px;
}

@media screen and (max-width: 880px) {
  #grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, minmax(150px, auto));
    gap: 10px;
    margin-top: 10px;
  }

  .con2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .con4 {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: 50px;
  }
  .con1 {
    grid-column: 1/2;
    grid-row: 4/6;
  }
  .con3 {
    grid-column: 2/3;
    grid-row: 4/6;
  }
  .con5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .con6 {
    grid-column: 1/3;
    grid-row: 6/7;
  }
}

/* Grid container css ends*/

.main-container {
  padding: 0px;
}

/* servies style here*/

#services {
  min-width: 90vw;

  max-width: 100%;


  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services .services-image-container img {
  max-width: 300px;
  height: 300px;
}

#services .services-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
}

.services-three-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.services-three-card-container .card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  width: auto;
  padding: 10px;
  height: auto;
  background-color:#323232;
  margin: 5px;
}

.services-three-card-container .card img {
  width: 40px;
  height: 40px;
  background-color: transparent;
}

@media screen and (max-width: 662px) {
  .services-three-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  #services .services-image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .services-three-card-container .card {
    width: auto;
    padding: 10px;
  }
}

/* servies style ends here*/

#about {
  min-width: 100%;

  max-width: 100vw;
  
}

#projects {
  min-width: 100%;

  max-width: 100vw;
  
}

/*  blog style*/

 #blogs {
  min-width: 90%;

  max-width: 100vw;
  
}

.blogs-card-container {
  width: 99%;
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.blogs-card-container div:nth-child(odd) {
  background-color: #61605f;
}

.blogs-card-container .card {
  color: white;
  background-color: #61605f;
  border-radius: 10px;
  padding: 10px;
  text-align: start;
}

.blogs-card-container .card img {
  width: 100%;
} 
 
@media screen and (max-width: 607px) {
  .blogs-card-container .card {
    margin: 15px;
    grid-column: 1/4;
  }
  .blogs-card-container .card {
    margin: 15px;
    grid-column: 1/4;
  }
  .blogs-card-container .card {
    margin: 15px;
    grid-column: 1/4;
  }
  
}
/*  blog style*/

/* carousel item card part */
.carousel-details-card {
  width: 50%;
  height: 100%;
  background-color: #151d2e;
  margin-left: 10px;
}

.carousel-images-container {
  width: 50%;
  height: 100%;
  background-color: #f8c8bd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-images-internal-card {
  background-color:#151d2e;
  width: 100%;
  height: 100%;
}

.carousel-images-internal-card img {
  width: 100%;
  height: 100%;
}

carousel-images-internal-card img:nth-child(even) {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 250px;
  transform: translate(-50%, 20%);
}

carousel-images-internal-card img:nth-child(odd) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  width: 250px;
  transform: translate(50%, 20%);
}

@media screen and (max-width: 898px) {
  carousel-images-internal-card img:nth-child(odd) {
    width: 180px;
    height: auto;
  }
  carousel-images-internal-card img:nth-child(even) {
    width: 180px;
    height: auto;
  }
}
/* carousel item card part ends */

/*   carousel part */
.carousel {
  position: relative;

  overflow: hidden;
  max-width: 100vw;
}

.carousel-slides {
  display: flex;
  flex-direction: row;
}

.carousel-item {
  flex: 0 0 100%;
  transition: transform 0.5s ease;
  height: 300px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carousel-item.active {
  transform: translateX(0);
}

.carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: white;
  box-shadow: 0 0 10px #ff5733;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.next img {
  max-width: 45px;
  max-height: 45px;
}

.prev img {
  max-width: 45px;
  max-height: 45px;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

.tea-app {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-self: center;
}
/* ------------------------- */
@media screen and (max-width: 607px) {
  .carousel-slides {
    display: block;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    flex-grow: 1;
    position: relative;
  }
  .tea-app {
    max-width: 300px;
  }

  .carousel-images-container {
    width: 100%;
    flex-grow: 1;
    position: relative;
  }

  .carousel-images-internal-card {
    background-color: #61605f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .carousel-images-internal-card img {
  }

  .carousel-details-card {
    position: relative;
    width: 100%;
    flex-grow: 1;
    height: auto;
    padding: 30px;
  }
  .carousel-dots {
    display: none;
  }
  .prev {
    display: none;
  }
  .next {
    display: none;
  }
}

/* corosel end part */

/* heading style*/

.heading-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.line {
  width: 300px;
  height: 2px;

  background: linear-gradient(to left, black, white);

  margin-left: auto;
  display: flex;
  flex-shrink: 1;
}
.line1 {
  width: 300px;
  height: 2px;

  background: linear-gradient(to right, black, white);
  margin-right: auto;
  display: flex;
  flex-shrink: 1;
}

.heading-h1 {
  display: inline-block;
  padding: 0 20px;
  margin: 12px;
}

/* heading style*/

.contact-social,
.contact-footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; /* Adjust as needed */
}

.social-media ul,
.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social-media ul li {
  margin-right: 350px; /* Adjust as needed */
  margin-top: 50px;
 
}
.footer-links ul li {
  margin-left: 350px;
  margin-top: -60px;
 
}
.footer-links ul li a {
  color: white;
  text-decoration: none; /* Optional: Remove underline */
}
.social-media ul li:last-child,
.footer-links ul li:last-child {
  margin-right: 0;
}
#faq {
  margin-bottom: 20px;
}

.heading-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.line,
.line1 {
  width: 50px;
  height: 2px;
  background: linear-gradient(to right, black, white);
  margin: 0;
}

.heading-h1 {
  display: inline-block;
  padding: 0 20px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

.arrow {
  cursor: pointer;
}

.answer {
  display: none;
}

.arrow.open {
  transform: rotate(180deg);
}
/* For small screens and mobile devices */
@media screen and (max-width: 480px) {
  body {
    margin: 10px;
    padding: 10px;
  }
  
  
  .navbar {
    height: 35px;
    margin-bottom: 10px;
  }
  .navbar .image {
    width: 50px;
  }
  .navitems-webSite button {
    margin-left: 180px;
}
  .navitems-webSite {
    width: 100%;
    justify-content: space-around;
    padding: 5px;
  }
  .navitem-mobile li a{
    color: white;
  }
  .navitem-mobile {
    display: flex;
  }

  #grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, minmax(150px, auto));
  }
  .con1,
  .con2,
  .con3,
  .con4,
  .con5,
  .con6 {
    grid-column: 1;
  }

  .blogs-card-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .blogs-card-container .card {
    margin: 10px;
  }
  
  .heading-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .line,
  .line1 {
    width: 200px;
    margin: 10px;
  }
  .contact-social,
  .contact-footer-links {
    display: flex;
    margin-left: -180px;
    flex-direction: column; /* Change flex direction for small screens */
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Adjust as needed */
  }

  .social-media ul,
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row; /* Change flex direction back to row for small screens */
    align-items: center; /* Center items horizontally for small screens */
    justify-content: center; /* Center items vertically for small screens */
  }

  .social-media ul li,
  .footer-links ul li {
    margin: 0px 12px; 
    text-align: center; /* Center text for small screens */
  }

  .social-media ul li:last-child,
  .footer-links ul li:last-child {
    margin-right: 0; /* Remove margin from last child for small screens */
  }

}